apiVersion: apps/v1
kind: Deployment
metadata:
  name: frontend-deployment
spec:
  replicas: 1
  selector:
    matchLabels:
      app: frontend
  template:
    metadata:
      labels:
        app: frontend
    spec:
      containers:
      - name: frontend
        image: {{ frontend_image }}:{{ frontend_tag }}
        imagePullPolicy: IfNotPresent
        ports:
        - containerPort: 5001
        env:
        - name: SPECIALITY_URL
          value: "http://speciality:8080/predict"
        - name: BANDIT_URL
          value: "http://bandit:8000/recommend/"
        readinessProbe:
          httpGet:
            path: /
            port: 5001
          initialDelaySeconds: 10
          periodSeconds: 10
        livenessProbe:
          httpGet:
            path: /
            port: 5001
          initialDelaySeconds: 15
          periodSeconds: 15
---
apiVersion: v1
kind: Service
metadata:
  name: frontend
spec:
  selector:
    app: frontend
  ports:
  - port: 5001
    targetPort: 5001
  type: NodePort
